*{
    padding: 0;
    margin: 0;
}
.footer-container{
    background-color: #161615;
    padding-bottom: 50px;
    padding: 80px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.footer{
    height: 40px;
display: flex;
flex-wrap: wrap;
margin: 0 auto;
color: antiquewhite;
}
.heading-footer1{
    display:flex;
    flex-direction: column;
    margin-right: 4rem;
}
.heading-footer2{
    display:flex;
    flex-direction: column;
    margin-right: 4rem;
}
.heading-footer3{
    display:flex;
    flex-direction: column;
    margin-right: 4rem;
    height: 10px;
}
.form-footer{
    display:flex;
    flex-direction: column;
    margin-right: 4rem;
}
.footer a:hover{
    color:yellow;
    transition: 0.3s ease-out;}
    .All{
        text-decoration: aliceblue;
         ;
    }